*.~[0-9]*~
python/daq_logging/__pycache__/
python/daq_logging/src/
python/daq_logging/__pycache__
.vscode
*~
python/daq_logging/*.egg-info
*.#*
venv/
.venv/
build
.DS_Store
log*
.nfs*
info.*.json
.python-version
*.xml.data
*.hdf5